
/*ici, l'unité "vw" est utilisée afin de conserver une proportionalité de la taille des éléments par
rapport à la fenêtre du naviguateur et ains éviter un mauvais affichage desdits éléments sur un écran plus grand par exemple.*/

.arriere-plan {
  background-image: url('images/index-accueil.jpg');
  height: 85%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}

.arriere-plan-actions {
  background-image: url('images/actions.jpg');
  height: 85%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

}



  body, html {
    font-size: 1.3vw;
    height: 100%;
    margin: 0;
    color: grey;


  }


h1{
  color: #fd7b27;
  background-color: rgba(255, 255, 255, .7);
  font-size: 55;

}


aside{
  line-height: 1.7vw;
  background-color: #fd7b27;
  float: left;
  color: white;
  margin: 1vw;
  border-radius: 13px;
  padding: 2vw;
  font-size: 1.3vw;
  margin-right: 2vw;

}


a{
color: #fd7b27;
}


/*Changer le style des points de la liste -- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_bullet_color*/


ul {
  list-style: none;

}

ul li::before {
  content: "\2022";
  color: #fd7b27;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
